@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa; /* zinc-50 */
  --foreground: #18181b; /* zinc-900 */
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Thanh cuộn gọn kiểu utility */
.scroll-thin {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
}
